# DEBUG MODE Pipeline Configuration
# All pipelines configured with 1 inference step for quick functionality testing
# Use with: python scripts/run_all_pipelines.py --config pipeline_configs_debug.yaml

# Project paths configuration
paths:
  models_path: "C:/Users/amd87/model_load/models"
  test_path: "C:/Users/amd87/sd_ref_design/test"

# Default settings
defaults:
  width: 512
  height: 512
  streaming_output: true
  execution:
    force_cpu: false
  prompts:
    medieval: "Photo of a bustling medieval marketplace, vibrant colors, detailed costumes, lively crowd, cinematic lighting, 8k resolution, masterpiece, art by Pieter Bruegel and John Howe"
    anime: 'Anime style illustration of a girl wearing a suit. A moon in sky. In the background we see a big rain approaching. text "InstantX" on image'
  prompt_file: "C:/Users/amd87/sd_ref_design/config/artistic_prompts.json"

# Available pipeline configurations - ALL SET TO 1 INFERENCE STEP FOR DEBUG
pipelines:

  sd_15:
    name: "SD 1.5 Pipeline"
    script: "run_sd.py"
    model_ids:
      - "runwayml/stable-diffusion-v1-5"
    extra_args:
      - "--model_path"
      - "C:/Users/amd87/model_load/models/sd15"
      - "--num_inference_steps"
      - "1"

  sd_turbo:
    name: "SD Turbo Pipeline"
    script: "run_sd.py"
    streaming_output: false
    model_ids:
      - "stabilityai/sd-turbo"
    extra_args:
      - "--model_path"
      - "C:/Users/amd87/model_load/models/sd_turbo"
      - "--num_inference_steps"
      - "1"
      - "--guidance_scale"
      - "0.0"

  sd_turbo_bs1:
    name: "SD Turbo BS1 Pipeline"
    script: "run_sd.py"
    streaming_output: false
    model_ids:
      - "stabilityai/sd-turbo"
    extra_args:
      - "--model_path"
      - "C:/Users/amd87/model_load/models/sd_turbo_bs1"
      - "--num_inference_steps"
      - "1"
      - "--guidance_scale"
      - "0.0"
      - "--num_images_per_prompt"
      - "1"

  sdxl_base:
    name: "SDXL Base Pipeline"
    script: "run_sd_xl.py"
    width: 1024
    height: 1024
    streaming_output: true
    model_ids:
      - "stabilityai/stable-diffusion-xl-base-1.0"
    extra_args:
      - "--model_path"
      - "C:/Users/amd87/model_load/models/sdxl-base-1.0"
      - "--num_inference_steps"
      - "1"

  sdxl_turbo:
    name: "SDXL Turbo Pipeline"
    script: "run_sd_xl.py"
    width: 512
    height: 512
    model_ids:
      - "stabilityai/sdxl-turbo"
    extra_args:
      - "--model_path"
      - "C:/Users/amd87/model_load/models/sdxl_turbo"
      - "--num_inference_steps"
      - "1"
      - "--guidance_scale"
      - "0.0"

  sdxl_turbo_bs1:
    name: "SDXL Turbo BS1 Pipeline"
    script: "run_sd_xl.py"
    width: 512
    height: 512
    model_ids:
      - "stabilityai/sdxl-turbo"
    extra_args:
      - "--model_path"
      - "C:/Users/amd87/model_load/models/sdxl_turbo_bs1"
      - "--num_inference_steps"
      - "1"
      - "--guidance_scale"
      - "0.2"
      - "--num_images_per_prompt"
      - "1"

  sd15_controlnet:
    name: "SD15 ControlNet Pipeline"
    script: "run_sd15_controlnet.py"
    streaming_output: false
    model_ids:
      - "runwayml/stable-diffusion-v1-5"
    extra_args:
      - "--model_path"
      - "C:/Users/amd87/model_load/models/sd15_controlnet"
      - "--num_inference_steps"
      - "1"
      - "-W"
      - "512"
      - "-H"
      - "512"
      - "--controlnet_conditioning_scale"
      - "0.25"

  sd21_base:
    name: "SD21 Base Pipeline"
    script: "run_sd.py"
    width: 512
    height: 512
    model_ids:
      - "stabilityai/stable-diffusion-2-1-base"
    extra_args:
      - "--model_path"
      - "C:/Users/amd87/model_load/models/sd21_base"
      - "--num_inference_steps"
      - "1"
  
  sd21_v:
    name: "SD21 V-Param Pipeline"
    script: "run_sd.py"
    width: 768
    height: 768
    model_ids:
      - "stabilityai/stable-diffusion-2-1"
    extra_args:
      - "--model_path"
      - "C:/Users/amd87/model_load/models/sd-2.1-v"
      - "--num_inference_steps"
      - "1"

### SD3 - DEBUG MODE (1 step)
  sd3_base:
    name: "SD3 Pipeline"
    script: "run_sd3.py"
    model_ids:
      - "stabilityai/stable-diffusion-3-medium-diffusers"
    extra_args:
      - "--model_path"
      - "C:/Users/amd87/model_load/models/sd3"
      - "--num_inference_steps"
      - "1"
      - "--width"
      - "512"
      - "--height"
      - "512"
      - "--controlnet"
      - "None"

  sd3_controlnet_canny:
    name: "SD3 ControlNet Canny Pipeline"
    script: "run_sd3.py"
    model_ids:
      - "stabilityai/stable-diffusion-3-medium-diffusers"
    extra_args:
      - "--model_path"
      - "C:/Users/amd87/model_load/models/sd3"
      - "--num_inference_steps"
      - "1"
      - "--width"
      - "1024"
      - "--height"
      - "1024"
      - "--controlnet"
      - "Canny"
      - "--controlnet_conditioning_scale"
      - "0.2"

  sd3_controlnet_pose:
    name: "SD3 ControlNet Pose Pipeline"
    script: "run_sd3.py"
    model_ids:
      - "stabilityai/stable-diffusion-3-medium-diffusers"
    extra_args:
      - "--model_path"
      - "C:/Users/amd87/model_load/models/sd3"
      - "--num_inference_steps"
      - "1"
      - "--width"
      - "1024"
      - "--height"
      - "1024"
      - "--controlnet"
      - "Pose"
      - "--controlnet_conditioning_scale"
      - "0.2"

  sd3_controlnet_tile:
    name: "SD3 ControlNet Tile Pipeline"
    script: "run_sd3.py"
    model_ids:
      - "stabilityai/stable-diffusion-3-medium-diffusers"
    extra_args:
      - "--model_path"
      - "C:/Users/amd87/model_load/models/sd3"
      - "--num_inference_steps"
      - "1"
      - "--width"
      - "1024"
      - "--height"
      - "1024"
      - "--controlnet"
      - "Tile"

### SD 3.5 - DEBUG MODE (1 step)
  sd35_base:
    name: "SD3.5 Pipeline"
    script: "run_sd3.py"
    model_ids:
      - "stabilityai/stable-diffusion-3-5"
    extra_args:
      - "--model_path"
      - "C:/Users/amd87/model_load/models/sd3.5"
      - "--num_inference_steps"
      - "1"
      - "--width"
      - "1024"
      - "--height"
      - "1024"
      - "--controlnet"
      - "None"

  sd35_controlnet_canny:
    name: "SD3.5 ControlNet Canny Pipeline"
    script: "run_sd3.py"
    model_ids:
      - "stabilityai/stable-diffusion-3-5"
    extra_args:
      - "--model_path"
      - "C:/Users/amd87/model_load/models/sd3.5"
      - "--num_inference_steps"
      - "1"
      - "--width"
      - "1024"
      - "--height"
      - "1024"
      - "--controlnet"
      - "Canny"
      - "--controlnet_conditioning_scale"
      - "0.2"

  sd35_controlnet_pose:
    name: "SD3.5 ControlNet Pose Pipeline"
    script: "run_sd3.py"
    model_ids:
      - "stabilityai/stable-diffusion-3-5"
    extra_args:
      - "--model_path"
      - "C:/Users/amd87/model_load/models/sd3.5"
      - "--num_inference_steps"
      - "1"
      - "--width"
      - "1024"
      - "--height"
      - "1024"
      - "--controlnet"
      - "Pose"
      - "--controlnet_conditioning_scale"
      - "0.2"

  sd35_controlnet_tile:
    name: "SD3.5 ControlNet Tile Pipeline"
    script: "run_sd3.py"
    model_ids:
      - "stabilityai/stable-diffusion-3-5"
    extra_args:
      - "--model_path"
      - "C:/Users/amd87/model_load/models/sd3.5"
      - "--num_inference_steps"
      - "1"
      - "--width"
      - "1024"
      - "--height"
      - "1024"
      - "--controlnet"
      - "Tile"
      - "--controlnet_conditioning_scale"
      - "0.2"

### SD3 OutPainting/InPainting/Removal - DEBUG MODE (1 step)
  sd3_controlnet_outpainting:
    name: "SD3 ControlNet OutPainting Pipeline"
    script: "run_sd3_controlnet_outpainting.py"
    streaming_output: true
    prompt: "background, nothing, blank"
    model_ids:
      - "stabilityai/stable-diffusion-3-medium-diffusers"
    extra_args:
      - "--model_path"
      - "C:/Users/amd87/model_load/models/sd3"
      - "--num_inference_steps"
      - "1"
      - "--width"
      - "1024"
      - "--height"
      - "1024"
      - "--controlnet"
      - "OutPainting"
      - "--control_image_path"
      - "ref/outpainting/example/outpainting.png"
      - "--image_pads"
      - "512"
      - "0"
      - "0"
      - "512"

  sd3_controlnet_removal:
    name: "SD3 ControlNet Removal Pipeline"
    script: "run_sd3_controlnet_outpainting.py"
    streaming_output: true
    model_ids:
      - "stabilityai/stable-diffusion-3-medium-diffusers"
    extra_args:
      - "--model_path"
      - "C:/Users/amd87/model_load/models/sd3"
      - "--num_inference_steps"
      - "1"
      - "--width"
      - "1024"
      - "--height"
      - "1024"
      - "--controlnet"
      - "Removal"
      - "--control_image_path"
      - "ref/removal/example/origin.jpg"
      - "--control_mask_path"
      - "ref/removal/example/mask.jpg"

  sd3_controlnet_inpainting:
    name: "SD3 ControlNet InPainting Pipeline"
    script: "run_sd3_controlnet_outpainting.py"
    streaming_output: true
    prompt: "A girl taking a pig for a walk on the street"
    model_ids:
      - "stabilityai/stable-diffusion-3-medium-diffusers"
    extra_args:
      - "--model_path"
      - "C:/Users/amd87/model_load/models/sd3"
      - "--num_inference_steps"
      - "1"
      - "--width"
      - "1024"
      - "--height"
      - "1024"
      - "--controlnet"
      - "InPainting"
      - "--control_image_path"
      - "ref/inpainting/bak/origin.png"
      - "--control_mask_path"
      - "ref/inpainting/bak/mask.png"

### SD3.5 OutPainting/InPainting/Removal - DEBUG MODE (1 step)
  sd35_controlnet_outpainting:
    name: "SD3.5 ControlNet OutPainting Pipeline"
    script: "run_sd3_controlnet_outpainting.py"
    streaming_output: true
    model_ids:
      - "stabilityai/stable-diffusion-3.5-medium"
    extra_args:
      - "--model_path"
      - "C:/Users/amd87/model_load/models/sd3.5"
      - "--num_inference_steps"
      - "1"
      - "--width"
      - "1024"
      - "--height"
      - "1024"
      - "--controlnet"
      - "OutPainting"
      - "--control_image_path"
      - "ref/outpainting/example/outpainting.png"
      - "--image_pads"
      - "512"
      - "0"
      - "0"
      - "512"


  sd35_controlnet_removal:
    name: "SD3.5 ControlNet Removal Pipeline"
    script: "run_sd3_controlnet_outpainting.py"
    streaming_output: true
    model_ids:
      - "stabilityai/stable-diffusion-3.5-medium"
    extra_args:
      - "--model_path"
      - "C:/Users/amd87/model_load/models/sd3.5"
      - "--num_inference_steps"
      - "1"
      - "--width"
      - "1024"
      - "--height"
      - "1024"
      - "--controlnet"
      - "Removal"
      - "--control_image_path"
      - "ref/removal/example/origin.jpg"
      - "--control_mask_path"
      - "ref/removal/example/mask.jpg"
      
  sd35_controlnet_inpainting:
    name: "SD3.5 ControlNet InPainting Pipeline"
    script: "run_sd3_controlnet_outpainting.py"
    streaming_output: false
    model_ids:
      - "stabilityai/stable-diffusion-3.5-medium"
    extra_args:
      - "--model_path"
      - "C:/Users/amd87/model_load/models/sd3.5"
      - "--num_inference_steps"
      - "1"
      - "--width"
      - "1024"
      - "--height"
      - "1024"
      - "--controlnet"
      - "InPainting"
      - "--control_image_path"
      - "ref/inpainting/bak/origin.png"
      - "--control_mask_path"
      - "ref/inpainting/bak/mask.png"

# Default pipelines to run (if no --pipelines specified)
default_run:
  - sd3_base
  - sd3_controlnet_canny
  - sd3_controlnet_pose
  - sd3_controlnet_tile

# Available pipeline groups for convenience
pipeline_groups:
  all_sd3:
    - sd3_base
    - sd3_controlnet_canny
    - sd3_controlnet_pose
    - sd3_controlnet_tile
    - sd3_controlnet_outpainting
    - sd3_controlnet_removal
    - sd3_controlnet_inpainting
    - sd35_base
    - sd35_controlnet_canny
    - sd35_controlnet_pose
    - sd35_controlnet_tile
    - sd35_controlnet_outpainting
    - sd35_controlnet_removal
    - sd35_controlnet_inpainting
    
  sd_35:
    - sd35_base
    - sd35_controlnet_canny
    - sd35_controlnet_pose
    - sd35_controlnet_tile
    - sd35_controlnet_outpainting
    - sd35_controlnet_removal
    - sd35_controlnet_inpainting

  sd_30:
    - sd3_base
    - sd3_controlnet_canny
    - sd3_controlnet_pose
    - sd3_controlnet_tile
    - sd3_controlnet_outpainting
    - sd3_controlnet_removal
    - sd3_controlnet_inpainting
  
  all_sd15:
    - sd_15
    - sd15_controlnet
  
  all_sdxl:
    - sdxl_base
    - sdxl_turbo
    - sdxl_turbo_bs1
  
  sd_15:
    - sd_15

  quick_test:
    - sd_turbo
    - sd_turbo_bs1
    - sdxl_turbo
    - sdxl_turbo_bs1
  
  txt2img:
    - sd_15
    - sd_turbo
    - sd_turbo_bs1
    - sdxl_base
    - sdxl_turbo
    - sdxl_turbo_bs1
    - sd21_base
    - sd21_v
    - sd3_base
    - sd35_base
  
  controlnet:
    - sd15_controlnet
    - sd3_controlnet_canny
    - sd3_controlnet_pose
    - sd3_controlnet_tile
    - sd35_controlnet_canny
    - sd35_controlnet_pose
    - sd35_controlnet_tile

  outpainting:
    - sd3_controlnet_outpainting
    - sd35_controlnet_outpainting

  inpainting:
    - sd3_controlnet_inpainting
    - sd35_controlnet_inpainting

  removal:
    - sd3_controlnet_removal
    - sd35_controlnet_removal

  image_editing:
    - sd3_controlnet_outpainting
    - sd3_controlnet_removal
    - sd3_controlnet_inpainting
    - sd35_controlnet_outpainting
    - sd35_controlnet_removal
    - sd35_controlnet_inpainting
  
  sd_21:
    - sd21_base
    - sd21_v
  
  turbo_models:
    - sd_turbo
    - sd_turbo_bs1
    - sdxl_turbo
    - sdxl_turbo_bs1

  all:
    - sd_15
    - sd_turbo
    - sd_turbo_bs1
    - sdxl_base
    - sdxl_turbo
    - sdxl_turbo_bs1
    - sd15_controlnet
    - sd21_base
    - sd21_v
    - sd3_base
    - sd3_controlnet_canny
    - sd3_controlnet_pose
    - sd3_controlnet_tile
    - sd3_controlnet_outpainting
    - sd3_controlnet_removal
    - sd3_controlnet_inpainting
    - sd35_base
    - sd35_controlnet_canny
    - sd35_controlnet_pose
    - sd35_controlnet_tile
    - sd35_controlnet_outpainting
    - sd35_controlnet_removal
    - sd35_controlnet_inpainting
